/*
normal: rgb(171, 215, 51);
hover: rgb(145, 184, 39);
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.white {
    color: white;
}

html {
    background-color: rgb(245, 255, 234);
}

body {
    background-color: rgb(171, 215, 51)!important;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

.pagination-background {
    background-color: #F1F8E9 !important;
}

.book-details-background {
    background-color: #F1F8E9 !important;
}

.cover-background {
    background-color: rgb(171, 215, 51)!important;
}

.transparent {
    background-color: transparent !important;
}

#cover {
    height: 1000px !important;
    position: relative !important;
    top: -70px !important;
    width: 100% !important;
    background: url("http://www.univ-tebessa.dz/annuaire/fshs/ali-soltani/images/templatemo-slide-1.jpg") no-repeat top center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    text-shadow: 2px 2px #000;
}

.cover-content>h1 {
    color: rgb(171, 215, 51);
    font-size: 100px;
}

.cover-content>h2 {
    color: white;
}

#cover-details {
    height: 600px !important;
    position: relative !important;
    background: url("http://www.univ-tebessa.dz/annuaire/fshs/ali-soltani/images/templatemo-slide-1.jpg") no-repeat top center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 80%;
    border-radius: 25px;
    text-shadow: 2px 2px #000;
}

.cover-details-content {
    padding-top: 6vh;
}

.navigation {
    background-color: rgba(255, 255, 255, 0.8) !important;
    overflow-y: auto !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    text-align: left !important;
    width: 100% !important;
    z-index: 10000 !important;
}

ul {
    padding: 0;
}

li {
    color: #14213D;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 16px 20px;
    text-transform: uppercase;
}

#logo {
    color: rgb(171, 215, 51);
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    box-sizing: border-box;
    margin: 0 auto !important;
    position: relative;
    text-align: left;
    width: 20%;
    left: 50px;
}

.cover-content {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 530px;
    width: 70%;
}

.cover-back {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    height: inherit;
    margin: 0 auto;
}

h1 {
    color: #FFF;
    font-family: 'Amatic SC', cursive;
    font-size: 72px;
    line-height: 60px;
    padding: 20px 10px;
    text-align: center;
}

h2 {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}

h3 {
    color: #14213D;
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    text-align: left;
    text-transform: uppercase;
}

h4 {
    color: rgb(145, 184, 39);
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin: 0px 0px 50px 0px;
}

p {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.list-specs {
    padding-bottom: 20vh;
    padding-top: 10vh;
}

.list-book-specs {
    padding-bottom: 20vh;
    margin: 0 auto;
    width: 47vw;
    position: relative;
    bottom: 15vh;
}

.list-element {
    margin-top: 10vh;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.card #hideDiv {
    visibility: hidden;
    transition-delay: 400ms;
}

.card:hover #hideDiv {
    visibility: visible;
    transition: visibility 100ms linear 900ms;
}

.card-button {
    height: 35vh;
    width: 25vh;
    border-radius: 25px;
    z-index: -1;
    border: none;
    outline: transparent;
    background-color: transparent;
    transition-delay: 0.3s !important;
    -webkit-transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* easeInOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.card-button:hover {
    height: 55vh;
    width: 30vh;
    text-transform: none;
    position: relative;
    z-index: 1000;
}

.card {
    height: 42vh;
    width: 28vh;
    border-radius: 25px;
    z-index: 1000 !important;
    transition-delay: 0.3s !important;
    box-shadow: 5px -2px 20px 0px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    -webkit-transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* easeInOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.card:hover {
    height: 60vh;
    width: 40vh;
    text-transform: none;
    position: relative;
    z-index: 1000;
}

#card-image {
    min-height: 21vh;
    width: 20vh;
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 5px -2px 20px 0px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.card-title {
    padding-top: 2vh;
    color: rgb(145, 184, 39);
    margin-left: auto;
    margin-right: auto;
}

.card-description {
    font-size: 1em;
    margin-bottom: 0;
}

.card-author {
    margin: auto;
    padding-top: 3vh;
}

.dir-pagination-control-center {
    position: absolute;
    width: 13vw;
    top: 110vh;
}

.dir-pagination-control-center>ul {
    position: absolute;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20%;
}

.search-box {
    min-width: 18vw;
    display: inline-block;
    padding: 50px;
    position: absolute;
    right: 21.3vw;
    vertical-align: top;
}

.highlight {
    color: rgb(145, 184, 39) !important;
}

.filter-box-genre {
    min-width: 20vw;
    display: inline-block;
    padding: 40px;
    position: absolute;
    left: 13.3vw;
}

.filter-box-genre>md-input-container {
    min-width: 12vw;
    text-align: -webkit-auto;
}

.filter-box-genre>md-select-value {
    color: rgb(145, 184, 39);
    border-color: rgb(145, 184, 39);
}

.filter-box-category {
    min-width: 20vw;
    display: inline-block;
    padding: 40px;
    position: absolute;
    left: 30vw;
}

.filter-box-category>md-input-container {
    min-width: 12vw;
    text-align: -webkit-auto;
}

.filter-box-category>md-input-container>label {
    color: rgb(145, 184, 39);
}

md-option[selected] {
    color: rgb(145, 184, 39) !important;
}

md-input-container>label {
    color: rgb(145, 184, 39) !important;
}

md-select:focus>md-select-value {
    border-bottom-color: rgb(145, 184, 39)!important;
}

#ul-2>li {
    width: 100% !important;
}

.container {
    text-align: center;
}

.book-details-bar {
    background-color: rgb(145, 184, 39) !important;
    border-radius: 25px;
    min-height: 0px;
    max-height: 10px;
    min-width: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.book-details-img {
    height: 25vh;
    width: 20vh;
    top: 3.2vh;
    left: 8vw;
    position: absolute;
    border-radius: 3%;
    display: block;
    margin-top: 20px;
    border: 2px solid black;
    box-shadow: 5px -2px 20px 0px rgba(0, 0, 0, .5), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.book-details-title {
    position: relative;
}

.book-details-paragraph {
    bottom: 0px;
    width: 75%;
    margin: 0 auto;
}

.book-details-img-author {
    height: 17vh;
    width: 15vh;
    position: relative;
    border-radius: 3%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20vh;
    box-shadow: 5px -2px 20px 0px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.book-details-author-disclaimer {
    position: relative;
    margin: 0 auto;
    bottom: 20vh;
}

.book-details-back-cover {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    height: inherit;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
}

.book-details-back-cover>h4 {
    color: white;
}

.pagination-button-position {
    display: inline-block;
    vertical-align: middle;
    width: 9%;
    padding-left: 1vh;
}

.pagination-button-detail {
    background-color: transparent;
    border-color: transparent;
}

.pagination-button-icon {
    font-size: 15vh;
    color: rgb(171, 215, 51);
}

.pagination-button-detail:focus {
    outline-color: transparent !important;
}

.pagination-button-icon:hover {
    color: rgb(145, 184, 39);
}

.pagination-content {
    display: inline-block;
    vertical-align: middle;
}

.card-action-position {
    width: 100%
}

.card-action-likes {
    display: inline-block;
    width: auto;
}

.card-action-likes>h5 {
    display: inherit;
}

.card-action-likes>i {
    display: inherit;
}

.card-action-pubDate {
    display: inline-block;
    width: auto;
    padding-left: 50%;
}

.similar-books-title {
    margin: 0 auto;
    position: relative;
    bottom: 15vh;
}

md-autocomplete>md-autocomplete-wrap {
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12) !important;
}

md-autocomplete {
    border-radius: 2px;
    display: block;
    height: 40px;
    position: relative;
    overflow: visible;
    min-width: 190px;
    background-color: transparent;
}

.no-match {
    margin: 0 auto;
    width: 70%;
    padding-top: 20vh;
    text-shadow: 1px 1px #000;
}

.no-match>h4 {
    font-size: 30px;
}

.remove-filter {
    display: inline-block;
    padding: 66px;
    position: absolute;
    left: 7vw;
}

.remove-filter-button {
    background-color: transparent;
    border-width: 0px 0px 1px 0px;
    color: rgb(171, 215, 51);
    border-color: rgb(171, 215, 51);
}

.remove-filter-button:disabled {
  background-color: transparent !important;
  border-width: 0px 0px 1px 0px !important;
  color: rgb(145, 184, 39) !important;
  border-color: rgb(145, 184, 39) !important;
}
