<!DOCTYPE html>

    <div layout="column" class="book-details-background">
        <div class="container" id="cover-details" flex>
            <div class="book-details-back-cover">
                <div class="cover-details-content">
                    <img ng-src="{{selectedBook.cover}}" class="book-details-img" alt="Book Cover">
                    <div class="book-details-title">
                        <h1>{{selectedBook.name}}</h1>
                    </div>
                    <h4>By
                        {{selectedBook.author.name}}</h4>
                    <h5 class="card-description">
                        {{selectedBook.description}}
                    </h5>
                    <h5>Category
                        {{selectedBook.genre.category}}</h5>
                    <h5>Genre
                        {{selectedBook.genre.name}}</h5>
                    <div class="card-action-likes">
                        <h5>Published:
                        </h5>
                        <h5 am-time-ago="selectedBook.published"></h5>
                    </div>
                </div>
            </div>
        </div>

        <md-toolbar class="book-details-bar center">
            <div class="md-toolbar-tools">
                <h2 class="md-flex"></h2>
            </div>
        </md-toolbar>

        <div class="book-details-paragraph">
            <p ng-repeat="paragraph in selectedBook.introduction">{{paragraph.content}}</p>
        </div>

        <div>
            <md-toolbar class="book-details-bar center">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex"></h2>
                </div>
            </md-toolbar>
        </div>

        <img ng-src="{{selectedBook.author.avatar}}" class="book-details-img-author center" alt="Author Cover">

        <div class="book-details-author-disclaimer">
            <h5>Written by
                {{selectedBook.author.name}}</h5>
        </div>

        <div class="similar-books-title">
            <h4>Sugested books:</h4>
        </div>

        <div class="pagination-content">
            <ul class="list-book-specs">
                <li ng-repeat="similarBook in threeSimilar">
                    <button ng-click="clicked(similarBook)" class="card-button">
                        <md-card class="card center">
                            <img ng-src="{{similarBook.cover}}" class="md-card-image" ng-cloak id="card-image" alt="Book Cover">
                            <h4 class="card-author">{{similarBook.author.name}}</h4>
                            <md-card-title class="card-title">
                                <md-card-title-text>
                                    <span class="md-headline">{{similarBook.name}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <div text-align="center" id="hideDiv">
                                <md-card-content>
                                    <h5 class="card-description">
                                        {{similarBook.description}}
                                    </h5>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="center center">
                                    <div class="card-action-position">
                                        <div class="card-action-likes">
                                            <i class="material-icons">thumb_up</i>
                                            <h5>
                                                {{similarBook.likes}}</h5>
                                        </div>
                                        <div class="card-action-pubDate">
                                            <h5 am-time-ago="similarBook.published"></h5>
                                        </div>
                                    </div>
                                </md-card-actions>
                            </div>
                        </md-card>
                    </button>
                </li>
            </ul>
        </div>
    </div>
