<!DOCTYPE html>
    <div ng-controller="toolbarController" class="cover-background">

        <div>
            <md-toolbar md-scroll-shrink ng-if="true" class="navigation">
                <h3>
                    <span id="logo">{{title}}</span>
                </h3>
            </md-toolbar>
        </div>

        <div id="cover">
            <div class="cover-back">
                <div class="cover-content">
                    <h1>Books For You</h1>
                    <h2>Beautiful books for any type of reader.</h2>
                </div>
            </div>
        </div>

    </div>
