<!DOCTYPE html>
    <div ng-controller="paginationController" class="pagination-background">

        <div class="list-specs">
            <div class="pagination-button-position" ng-show="!noMatchFound">
                <button ng-click="previusPage()" class="pagination-button-detail" ng-disabled="disableButtons">
                    <i class="material-icons pagination-button-icon">keyboard_arrow_left</i>
                </button>
            </div>
            <div class="center pagination-content" ng-show="!noMatchFound">
                <ul class="center list-specs">
                    <li dir-paginate="book in books | itemsPerPage: booksPerPage" total-items="totalBooks" current-page="pagination.current">
                        <button ng-click="clicked(book)" class="card-button">
                            <md-card class="card center">
                                <img ng-src="{{book.cover}}" class="md-card-image" ng-cloak id="card-image" alt="Book Cover">
                                <h4 class="card-author">{{book.author.name}}</h4>
                                <md-card-title class="card-title">
                                    <md-card-title-text>
                                        <span class="md-headline">{{book.name}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <div text-align="center" id="hideDiv">
                                    <md-card-content>
                                        <h5 class="card-description">
                                            {{book.description}}
                                        </h5>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="center center">
                                        <div class="card-action-position">
                                            <div class="card-action-likes">
                                                <i class="material-icons">thumb_up</i>
                                                <h5>
                                                    {{book.likes}}</h5>
                                            </div>
                                            <div class="card-action-pubDate">
                                                <h5 am-time-ago="book.published"></h5>
                                            </div>
                                        </div>
                                    </md-card-actions>
                                </div>
                            </md-card>
                        </button>
                    </li>
                </ul>
            </div>

            <div ng-bind-html="noMatch" ng-show="noMatchFound" class="no-match"></div>

            <div class="pagination-button-position" ng-show="!noMatchFound">
                <button ng-click="nextPage()" class="pagination-button-detail" ng-disabled="disableButtons">
                    <i class="material-icons pagination-button-icon">keyboard_arrow_right</i>
                </button>
            </div>
        </div>
        <div id="details">

        </div>
    </div>
