<!DOCTYPE html>

    <div class="container pagination-background" ng-controller="selectController as ctrl">
        <div class="search-box">
            <form ng-submit="$event.preventDefault()">
                <md-autocomplete
                    md-selected-item="ctrl.selectedItem"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Search a book here">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No books matching "{{ctrl.searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </form>
        </div>

        <div class="filter-box-genre">
            <md-input-container id="genre">
                <label>Filter by genre</label>
                <md-select ng-model="genre" ng-change="filterByGenre(genre)">
                    <md-option ng-repeat="genre in genres" value="{{genre}}">{{genre}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="filter-box-category" id="category">
            <md-input-container>
                <label>Filter by category</label>
                <md-select ng-model="category" ng-change="filterByCategory(category)">
                    <md-option ng-repeat="category in categories" value="{{category}}">{{category}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="remove-filter">
          <button ng-click="deleteFilters()" ng-disabled="!disableButtons" class="remove-filter-button">Delete Filters</button>
        </div>
    </div>
